@model BigDataProject.Models.DocumentSummaryData
@{
    ViewData["Title"] = "DocumentSummary";
}

<br />
<br />
<br />

@if(Model.Id > 0)
{
    <div class="row">
        <div class="col-md-12">
            <h4>@Model.Title</h4>
            <a class="btn btn-success" href="@Url.Action("DownloadFile", new { fileId = Model.Id})" target="_blank">Download</a>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-12" style="white-space: pre-line;">
        <h3>Summary:</h3>
        @Model.Summary

        <br>
        <h3>Classification:</h3>
        <ul>
            @foreach (var d in Model.Classification)
            {
                <li>@d</li>
            }
        </ul>
    </div>
</div>
